<div class="row">
    <div class="col">
      <h1 class="display-2">My recipes</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Status (Owner)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of filteredRecipes" (click)="onSelectRecipe(recipe)" [class.table-info]="recipe === selectedRecipe" >
            <th scope="row">{{ recipe.id }}</th>
            <td>
              <a [routerLink]="['/recipes', recipe.id]">
                {{ recipe.title }}
              </a>
            </td>
            <td>{{ recipe.author }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.status }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="onDeleteClick(recipe.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter>
  
  <button mat-raised-button color="primary" (click)="onNewClick()">New recipe</button>
  <div class="col" *ngIf="selectedRecipe">
    <recipe-form [recipe]="selectedRecipe" (onSubmit)="onFormSubmit($event)"></recipe-form>
  </div>


  
  
    
    
  